<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Can't or Won't</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="app/app.js"></script>
    <script src="app/controllers/MainController.js"></script>
    <script src="app/controllers/QuotesController.js"></script>
    <script src="app/services/QuoteFactory.js"></script>

  </head>

  <body ng-app="archerApp">
    <center>
      <h1 id="title"> Welcome to Archer Quotes</h1>
     </center>
    <div class="row">
      <div class="col-md 12">
        <div ui-view></div>
      </div>
    </div>
   
 
 
 <script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1 class="title">Archer Quotes</h1> 
    <span>
      <a href="#/quotes/{{$index}}">Comments</a>
    </span>
  </div> 
</script>
  
<script type="text/ng-template" id="quotes.html">
  <div class="page-header">
    <h3> 
      <a ng-show="quote.character"> 
        {{quote.content}}
      </a> 
      <span hg-hide="quote.character">
        {{quote.content}}
      </span> 
    </h3> 
  </div>

  <div ng-repeat="comment in quote.comments | orderBy:'-upvotes' : true">
    <span class="glyphicon glyphicon-thumps-up" ng-click="incrementUpvotes(comment)"></span> 
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>
</script>
</body>
</html>
